.app {
  border-top: 3px solid darkslategray;
  padding: 1rem;
}

.app-title {
  font-size: 1rem;
  color: darkgrey;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .user-row, .user-form {
    height: 60px;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .user-row, .user-form {
    padding: 16px 0 16px 10px;
    flex-basis: 48%;
  }

  .show-all {
    flex-basis: 100%;
  }

  .user-form:hover {
    background-color: #c6ecd7;
  }

  .user-form:hover .add-user-sign {
    background-color: #fff;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1900px) {
  .user-row, .user-form {
    padding: 10px 0 10px 10px;
  }
}

@media screen and (min-width: 1900px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .user-row, .user-form {
    padding: 16px 0 16px 10px;
    flex-basis: 48%;
  }

  .show-all {
    flex-basis: 100%;
  }
}
