.user-form {
    display: flex;
}

.add-user-sign {
    background-color: #c6ecd7;
}

.add-user-sign:hover {
    cursor: pointer;
}

.add-user-before, .add-user-after {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #2d8659;
    top: 19px;
    left: 13px;
}

.add-user-after {
    transform: rotate(90deg);
}

.add-user-title {
    font-weight: bold;
    color: #2d8659;
}