.user-row {
    display: flex;
}

.user-avatar, .add-user-sign {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.user-avatar {
    background-image: url("/avatar.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.before, .after {
    visibility: hidden;
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: orange;
    top: 18px;
    left: 10px;
}

.before {
    transform: rotate(45deg);
}

.after {
    transform: rotate(-45deg);
}

.user-row:hover {
    background-color: #c6ecd7;
    cursor: pointer;
}

.user-row:hover .user-avatar {
    background-color: #fff;
    background-image: none;
}

.user-row:hover .before {
    visibility: visible;
}

.user-row:hover .after {
    visibility: visible;
}

.user-avatar:hover {
    background-color: #fff;
    background-image: none;
    border: 1px solid orange;
}

.user-avatar:hover .before {
     visibility: visible;
}

.user-avatar:hover .after {
    visibility: visible;
}

.user-info span {
    display: block;
}

.user-info span.external:after {
    content: "*";
    color: orange;
}

.user-info span:last-child {
    font-weight: bold;
}

.show-all {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6ecd7;
    text-transform: uppercase;
}

.show-all:hover {
    cursor: pointer;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
    visibility: hidden;
    font-size: 10px;
    width: 93px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 2px 0;
    position: absolute;
    bottom: 20px;
    margin-left: -26px;
    box-shadow: 1px 3px 4px 1px grey;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.user-avatar:hover .tooltip-text {
    visibility: visible;
}


